@model IEnumerable<WebContractPEP.Models.FillField>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoFieldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoFillFieldType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFilledExecutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFilledClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNeedSummInWords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAutoFillField)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoFieldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FieldType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoFillFieldType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFilledExecutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFilledClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNeedSummInWords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAutoFillField)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FieldId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FieldId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FieldId })
        </td>
    </tr>
}

</table>
