﻿@using DocumentFormat.OpenXml.EMMA
@using Microsoft.Ajax.Utilities
@using Newtonsoft.Json
@using WebContractPEP.Models
@using WebGrease.Css.Extensions
@model WebContractPEP.Models.ContractTemplate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Scripts/codemirror.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/monokai.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<link href="~/Content/summernote/font/summernote" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/codemirror.js"></script>
<script type="text/javascript" src="~/Scripts/xml.js"></script>
<script type="text/javascript" src="~/Scripts/formatting.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
<script src="~/Scripts/summernote/summernote.js"></script>
<div>
    <h4>Шаблон договора</h4>
    <hr />
    <dl class="dl-horizontal">

        
          
            @Html.DisplayFor(model => model.Name)
        

    </dl>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <section id="loginForm">
            @using (Html.BeginForm("Edit", "ContractTemplates", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {@Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.ContractTemplateId)
                @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.Fields)
            @Html.HiddenFor(m => m.Company)
                @Html.HiddenFor(m => m.IP)
            <i class="fa fa-link" aria-hidden="true"> </i><a href="http://summernote.org/"></a><hr />


            <div id="summernote" contenteditable="true"> </div>
            @Html.TextAreaFor(model => model.FinalText)//,0,0, (new { id = "summernote" }, new { contenteditable = true }, new{hidden=true}))
            //Model.FinalText//TempData["text"]




            <div class="col-lg-3">
                <button class="btn btn-save" name="action" value="edit" id="btnSave" type="submit">
                    Сохранить шаблон
                </button>
                <button class="btn btn-success" name="action" id="btnSubmit" value="createContract" type="submit">
                    Подписать и отправить
                </button>
            </div>

        }
        </section>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 " id="fieldConteyiner">
        @Html.ActionLink(
            "Добавить",
            "CreateWithTemplate",                     // controller action
            "FillFields",        // controller
            new {id= Model.ContractTemplateId },         // action parameters aka route values
            new { @class = "btn btn-info" }) 
        
        
        @foreach (FillField field in Model.Fields)
        {

            string NameField = "FillField"+field.FieldId;
            <section id=@NameField>
                @using (Html.BeginForm((Html.BeginForm("FillField", "ContractTemplates", FormMethod.Post, new{id = "form_"+field.FieldId}))))
                {
                     string fieldFor = "{{" + field.FieldName + "}}";
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 " id="field">
                        @Html.Hidden("FieldId", field.FieldId)
                        @Html.Label(field.FieldName)
                        @Html.Hidden("FieldName", field.FieldName)
                        @Html.Label(fieldFor) 
                        @Html.Hidden("FieldIdFor" + field.FieldId, fieldFor, new { @class = "id_field" + field.FieldId })
                        @if (!field.AutoFieldValue.IsNullOrWhiteSpace())
                        {
                            @Html.Label(field.AutoFieldValue)
                        }
                        @if ((field.IsFilledExecutor) || (field.IsFilledExecutor && field.IsFilledClient))
                        {
                            @Html.Label("Введите Ваше значение поля")
                            //@Html.TextBox("Value")
                            @Html.TextBox("FieldValue" + field.FieldId,null, new { @class = "value_field" })

                        }
                       
                        else
                        {

                            @Html.Label("Поле заполнит другой клиент")
                            @Html.TextBox("FieldValue" + +field.FieldId, null, new { @readonly = true })

                        }
                        <button name="action" value="copy">Скопировать текст в договор</button>
                        <button name="action" value="edit">Редактировать</button>
                        <button name="action" value="delete">Удалить</button>

                    </div>


                }
            </section>
        }


    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContractTemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {

    <script >

        $(document).ready(function () {
           $('#FinalText').summernote({
                /**/
                height: 1000,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,
                lang: 'ru-RU',
                fontNames: ['Arial', 'Times New Roman', 'Helvetica'],
                focus: true,
                disableDragAndDrop: true,
                codemirror: {
                    theme: 'monokai',
                    mode: "text/html",
                    lineNumbers: true,
                    tabMode: 'indent'
                }
            });
            
      
     
             
            $('.value_field').on('change', function () {  
              
                if ($(this).val() != undefined) {
                    var value = $(this).val();
                    var idValue = $(this).attr("id").match(/\d+/)[0];
                    var oldValue = $(`[name = "${'FieldIdFor' + idValue}"]`).val();
                 
                    var summerHTML = document.getElementsByClassName('note-editable')[0].innerHTML;
                    var newValue = summerHTML.replace(oldValue, '<b>'+value' <b>');
                    $('#FinalText').summernote('code', newValue);
                    console.log(newValue);
                    alert(m);
                }
                });

           
        });
    </script>

}