﻿@using DocumentFormat.OpenXml.EMMA
@using Microsoft.Ajax.Utilities
@using Newtonsoft.Json
@using WebContractPEP.Models
@using WebGrease.Css.Extensions
@model WebContractPEP.Models.ContractTemplate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Scripts/codemirror.css">
<link rel="stylesheet" type="text/css" href="~/Scripts/monokai.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<link href="~/Content/summernote/font/summernote" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/codemirror.js"></script>
<script type="text/javascript" src="~/Scripts/xml.js"></script>
<script type="text/javascript" src="~/Scripts/formatting.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

<link href="~/Scripts/summernote/summernote.css" rel="stylesheet" />
<script src="~/Scripts/summernote/summernote.js"></script>
<div>
    <h4>ContractTemplate</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {@Html.AntiForgeryToken()
            <i class="fa fa-link" aria-hidden="true"> </i><a href="http://summernote.org/"></a><hr />



            <div id="summernote" contenteditable="true"></div>
            @Html.TextAreaFor(model => model.FinalText)
            //Model.FinalText//TempData["text"]




            <div class="col-lg-3">
                <button class="btn btn-success" id="btnSubmit" type="submit">
                    Подписать и отправить
                </button>
            </div>

        }
        </section>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 " id="fieldConteyiner">
        @foreach (FillField field in Model.Fields)
        {
            <button name="action" value="add">Добавить</button>
            string NameField = "fieldBlock " + field.FieldName;
            <section id=@NameField>
                @using (Html.BeginForm((Html.BeginForm("FillField", "ContractTemplates", FormMethod.Post))))
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 " id="field">
                        @Html.Hidden("FieldId")
                        @Html.Label(field.FieldName)
                        @Html.Label("{{" + field.FieldName + "}}" , new { id = "id_field" }))
                        @if (!field.AutoFieldValue.IsNullOrWhiteSpace())
                        {
                            @Html.Label(field.AutoFieldValue)
                        }
                        @if (field.IsFilledExecutor)
                        {
                            @Html.Label("Введите Ваше значение поля")
                            //@Html.TextBox("Value")
                            @Html.Editor("FieldValue", new { id = "field_value" })

                        }
                        else if (field.IsFilledExecutor && field.IsFilledClient)
                        {
                            @Html.Label("Введите Ваше значение поля")
                            //@Html.TextBox("Value")
                            @Html.Editor("FieldValue", new { id = "field_value" })
                        }
                        else
                        {

                            @Html.Label("Поле заполнит другой клиент")
                            @Html.TextBox("Value", null, new { @readonly = "readonly" })

                        }
                        <button name="action" value="copy">Скопировать текст в договор</button>
                        <button name="action" value="edit">Редактировать</button>
                        <button name="action" value="delete">Удалить</button>

                    </div>


                }
            </section>
        }


    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactTemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {

    <script type="module">


        $(document).ready(function () {
            /**/

            $('#FinalText').summernote({
                /**/
                height: 1000,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,
                lang: 'ru-RU',
                fontNames: ['Arial', 'Times New Roman', 'Helvetica'],
                focus: true,
                codemirror: {
                    theme: 'monokai',
                    mode: "text/html",
                    lineNumbers: true,
                    tabMode: 'indent'
                }
            });
        });

    </script>

}